<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace ="~{/layout/index :: dynamic(~{::main})}">
 
    <body>
        <main>
            <div th:replace ="~{/cart/view :: shopping_cart}"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">Đặt Mua Hàng</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div>Người Đặt Hàng</div>  
                            <div class="form-control" id="username">[[${#request.remoteUser}]]</div>

                        </div>
                        <div class="form-group col-sm-6">
                            <div>Ngày</div>
                                <div class="form-control">
                                   {{oder.createDate | date: 'dd-MM-yyyy'}}
                                </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div>Dia chi Giao Hang</div>
                            <textarea ng-model="oder.address " class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                  

                <div class="panel-footer text-right">
                    <button ng-click="oder.purchase()" class="btn btn-success">
                       Đặt hàng
                    </button>
                   
                </div>
                </div>
          
        </main>
    </body>
</html>